.post{
    width: 250px;
    height: 300px;
    border: 1px solid #6a2c70;
    float: left;
    padding: 20px;
    background-color: #f08a5d;
    margin: 10px;
}

.image{
    width: 200px;
}

button:hover{
    background-color: #6a2c70;
    color: #f2f2f2;
}
.post:hover{

    border: 1px solid #6a2c70;
    box-shadow:  -1px 1px #6a2c70,
         -2px 2px #6a2c70,
         -3px 3px #6a2c70,
         -4px 4px #6a2c70,
         -5px 5px #6a2c70;
}